body {
    background-color: #87CEEB; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; 
    font-family: 'Press Start 2P', cursive;
    font-size: 14px; 
}


#game-container {
    width: 800px;
    height: 600px;
    border: 8px solid #483D8B; 
    background-color: #87CEEB; 
    position: relative; 
    box-shadow: 0 0 0 8px #000;
    overflow: hidden;
}

#game-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background-color: #6B4226; 
    z-index: 0;
    border-top: 10px solid #5F9E34; 
}


.tela {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: transparent; 
    z-index: 10;
    
    display: none;
}

.tela.ativo {
    display: flex; 
}



.personagem, .cenario {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}


.nuvem {
    background-image: url('assets/cloud.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 90px;
    position: absolute;
    z-index: 1; 
    animation: moveClouds 20s linear infinite; 
}

.nuvem-1 {
    top: 50px;
    left: 10%;
    animation-delay: 0s;
}

.nuvem-2 {
    top: 80px;
    left: 60%;
    animation-delay: 10s;
}

.nuvem-3 {
    top: 30px; 
    left: -20%;
    animation-delay: 5s; 
    transform: scale(0.8);
}

.nuvem-4 {
    top: 65px; 
    left: 40%;
    animation-delay: 15s; 
    transform: scale(1.1); 
}

.sol {
    background-image: url('assets/moon.png');
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}

#erika-inicial {
    background-image: url('assets/erica.png'); 
    width: 260px;
    height: 520px;
    bottom: -180px; 
    left: 220px;
    transform: translateX(-50%);
    z-index: 15;
}

#arbusto-inicial {
    background-image: url('assets/plant.png');
    width: 300px;
    height: 150px;
    bottom: 125px; 
    left: -40px;
    z-index: 15;
}

#computador-inicial {
    background-image: url('assets/computer.png');
    width: 280px;
    height: 140px;
    bottom: 120px; 
    right: 70px;
    z-index: 15;
}

#arvore-inicial {
    background-image: url('assets/tree.png');
    width: 600px;
    height: 300px;
    bottom: 115px; 
    right: -250px;
    z-index: 15;
}

#professor {
    background-image: url('assets/fernando.png');
    width: 460px; 
    height: 520px; 
    bottom: -130px; 
    left: -70px; 
    z-index: 15;
    display: block; 
}

#caixa-dialogo-professor {
    display: flex; 
    flex-direction: column;
    align-items: center;
    
    background-color: #E0FFFF;
    border: 6px solid #483D8B;
    padding: 20px;
    margin: 40px;
    width: 60%;
    min-height: 100px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 8px 8px 0px 0px #000;
    z-index: 15;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

#erika-vitoria, #erika-gameover {
    background-image: url('assets/erica.png');
    width: 220px;
    height: 320px;
    bottom: -10px; 
    left: 20%;
    transform: translateX(-50%);
    z-index: 15;
}

#trofeu-vitoria {
    background-image: url('assets/trophy.png');
    width: 350px;
    height: 350px;
    bottom: -45px; 
    right: 20%;
    transform: translateX(50%);
    z-index: 15;
}

/* MOVIMENTACAO DAS NUVENS */
@keyframes moveClouds {
    0% { transform: translateX(-150px); } 
    100% { transform: translateX(calc(800px + 150px)); }
}

.coracao-pixel {
    display: inline-block;
    line-height: 1; 
    margin-left: 5px;
    font-size: 28px; 
    background-image: none !important; 
    width: auto;
    height: auto;
}


.titulo-principal {
    font-size: 40px;
    color: #FFD700;
    text-shadow: 4px 4px 0 #8B4513;
    margin-bottom: 50px;
}

.titulo-pixel {
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 0 #333;
    margin-bottom: 5px;
}

.botao-pixel {
    position: relative; 
    z-index: 999; 
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 24px;
    border: 4px solid black;
    background-color: #F0F8FF; 
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 4px 4px 0px 0px #8B4513; 
    transition: all 0.1s;
    font-family: 'Press Start 2P', cursive;
}

.botao-pixel:active {
    box-shadow: 0px 0px 0px 0px #8B4513;
    transform: translate(4px, 4px);
}


#tela-quiz {
    justify-content: flex-start;
    padding-top: 20px;
}

#hud {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 10px 0;
    z-index: 12;
    position: absolute;
    top: 10px;
}

#score {
    color: black;
    font-size: 16px;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid black;
}


#caixa-pergunta {
    z-index: 11;
    margin-top: 100px; 
    border: 6px solid #483D8B;
    background-color: #E0FFFF;
    box-shadow: 8px 8px 0px 0px #000;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pergunta-texto {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

#opcoes-respostas {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 70%;
    margin-top: 20px;
}

.opcao-btn {
    width: 100%;
    padding: 15px;
    font-size: 12px;
    border: 3px solid #000;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 0px 0px #808080;
    transition: none;
    text-align: left;
    white-space: normal;
}

.opcao-btn:hover:not(:disabled) {
    background-color: #ADD8E6; 
}

.opcao-btn.correta {
    background-color: #90EE90;
}

.opcao-btn.errada {
    background-color: #F08080;
}


#tela-game-over h1 {
    font-size: 48px;
    color: #FF0000;
    text-shadow: 6px 6px 0px #000;
}

#tela-vitoria h1 {
    font-size: 32px;
    color: #FFD700;
    text-shadow: 4px 4px 0px #8B4513;
}

#tela-vitoria p {
    font-size: 18px;
    color: #333;
    background-color: white;
    padding: 5px 10px;
    border: 2px solid black;
    margin-top: 15px;
}

/* ANOITECER */ 
.fundo-desafio {
    background-color: #2D3A5D !important; 
    transition: background-color 1s ease-in-out; 
}


.fundo-desafio .sol {
    background-image: url('assets/moon.png'); 
}

.estrela {
    background-image: url('assets/stars.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 6000px;
    z-index: 2; 
    left: -10px;
    opacity: 1; 
    transform: translateX(0%) translateY(-40px);
}


.estrela-1 {
    top: 50px;
    left: 50%;
}